.nav{
  display:flex;
  justify-content: center;
  position: relative;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 1rem;
  color: white;
cursor: pointer;
}

.nav-item{
  list-style: none;
  margin: 0.5rem;
}
mat-sidenav-container{
  color: white;
  position: absolute;
  top: 1rem;
  left:1rem;
}

button{
  border: none;
  background: transparent;
}
mat-icon{
  color:white;
  position: relative;
}
.active{
  color: white;
  font-weight: bold;
border-bottom: 1px solid white;
}
